/* header section css */
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 60px;
  background-color: var(--text-color);
}

.header-logo {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.menu-icon {
  cursor: pointer;
}
/* header section css */
